/* 
    Document   : screen
    Created on : 23.10.2009, 2:56:58
    Author     : trtkal
    Description: Purpose of the stylesheet follows.
*/

/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
* {
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
}
html {
    margin: 0;
    padding: 0;
}
body {
    background: #F7F7F7 url(/style/img/img01.jpg) repeat left top;
    font-size: 14px;
    color: #5A554E;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #32639A;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 200%;
    font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: underline;
    color: #516C00;
}

a:hover {
    text-decoration: none;
}

h2 a {
    text-decoration: none;
}

#wrapper {
    margin: 0px;
    padding: 0px;
    background: url(/style/img/img02.jpg) repeat-x left top;
}

/* Header */

#header {
    width: 1000px;
    height: 235px;
    margin: 0 auto;
    padding: 0px;
    background: url(/style/img/img03.jpg) no-repeat left top;
}

/* Logo */

#logo {
    float: left;
    margin: 0;
    padding: 115px 0px 0px 50px;
    color: #000000;
}

#logo h1, #logo p {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#logo h1 {
    padding: 30px 0 0 0;
    letter-spacing: -1px;
    font-size: 44px;
}

#logo h1 a {
    color: #ffffff;
}
#logo h1 a:hover, #logo h1 a:focus {
    color: #32639a;
}

#logo p {
    margin: -30px 0px 0px 0px;
    padding: 26px 0 0 2px;
    font: normal 19px Georgia, "Times New Roman", Times, serif;
    color: #a6dcff;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #C5E8FF;
}

#logo a:hover, #logo a:focus {
    color: #ffffff;
}

/* Search */

#search {
    width: 270px;
}

#search form {
    /* _ */
}

#search label {
    padding: 0 5px 0 10px;
}
#search input[type=button], #search input[type=submit]{
    font-size: 11px;
    padding: 1px 5px;
    margin-top: 10px;
}
#search input[type=text] {
    width: 110px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#banner {
    margin-bottom: 20px;
    border: 12px #ECECEC solid;
}

/* Menu */

#menu {
    width: 1000px;
    height: 65px;
    margin: 0 auto;
    padding: 0;
    background: url(/style/img/img04.jpg) no-repeat left top;
}

#menu ul {
    float: right;
    margin: 0;
    padding: 0px 25px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
    filter: alpha(opacity=80);
    -moz-opacity: 0.85;
    opacity: 0.85;
}

#menu li:hover {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

#menu a {
    display: block;
    margin-left: 10px;
    padding: 15px 10px;
    background: url(/style/img/img05.jpg) repeat-x left top;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
}

#menu .current_page_item a {
    background: url(/style/img/img06.png) repeat-x left top;
    color: #493E2B;
}

/* Page */

#page {
    width: 900px;
    margin: 0px auto;
    padding: 20px 50px 0px 50px;
    background: #FFFFFF;
    min-height: 250px;
}

/* Content */

#content ul ul {
    list-style: disc;
    list-style-position: inside;
    padding: 0 0 10px 10px;
}

#content ul ul ul {
    padding-left: 20px;
}

strong {
    font-weight: bold;
}

#content {
    float: left;
    width: 570px;
    padding: 0px 0px 0px 0px;
}

.post {
    margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
    height: 30px;
    margin-bottom: 13px;
    padding: 0px;
    letter-spacing: -.5px;
    font-size: 36px;
    color: #493E2B;
}

.post .title a {
    color: #493E2B;
    border: none;
}

.post .meta {
    margin: -10px 0px 0px 0px;
    padding: 0px;
    letter-spacing: -1px;
    font-size: 23px;
    font-weight: normal;
    color: #6E8D3D;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .meta a {
}

.post .entry {
    background: url(/style/img/img08.jpg) no-repeat left top;
    padding: 25px 0px 0px 0px;
    text-align: justify;
}

.links {
    padding-top: 10px;
}
.csfdimdb {
    padding-top: 10px;
    text-align: right;
}

.edit {
    padding-left: 16px;
    background: url(/style/img/img11.gif) no-repeat left 4px;
    text-decoration: underline;
    font-size: 12px;
    font-weight: normal;
    float: left;
}

.borrow {
    padding-left: 18px;
    background: url(/style/img/img10.gif) no-repeat left 3px;
    text-decoration: underline;
    font-size: 12px;
    font-weight: normal;
    float: right;
}


/* Sidebar */

#sidebar {
    float: right;
    width: 273px;
    padding: 0px;
    color: #787878;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    /* _ */
}

#sidebar li li {
    margin: 0px;
    padding: 2px 0px;
    border-left: none;
}

#sidebar li li li {
    margin: 0px;
    padding: 2px 0px 2px 10px;
    border-left: none;
}

#sidebar li li div, #sidebar li li span {
    height: 19px;
    margin-right: 16px;
    padding: 4px 12px;
    background: #3D2A0B url(/style/img/img12.jpg) repeat-x left top;
    font-size: 12px;
    color: #FFFFFF;
}

#sidebar li li div a, #sidebar li li span a {
    color: #FFFFFF;
}

#sidebar ol {
    padding-left: 10px;
    list-style: decimal;
    list-style-position: inside;
}

#sidebar h2 {
    margin-top: 8px;
    height: 65px;
    background: url(/style/img/img09.jpg) no-repeat left bottom;
    letter-spacing: -.5px;
    font-size: 28px;
    color: #493E2B;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 0px 30px 0px;
    text-align: justify;
}

#sidebar p strong {
    color: #4A3E29;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
}

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer-content {
    width: 900px;
    height: 255px;
    margin: 0 auto;
    padding: 60px 50px 0px 50px;
    background: url(/style/img/img15.jpg) no-repeat left top;
    font-size: 12px;
    color: #887450;
}

#footer-content .column1 {
    float: left;
    width: 570px;
}

#footer-content .column2 {
    float: right;
    width: 300px;
}

#footer-content h2 {
    padding-bottom: 10px;
    font-size: 22px;
    color: #E3D2B6;
}

#footer-content strong {
    color: #E3D2B6;
}

#footer-content a {
    color: #AA8B55;
}

#footer-content a:hover {
    color: #AA8B55;
}

.list li {
    margin-bottom: 6px;
}

#footer {
    height: 50px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#footer p {
    margin: 0;
    line-height: normal;
    font-size: 12px;
    text-align: center;
    color: #82A2B9;
}

#footer a {
    text-decoration: underline;
    color: #82A2B9;
}

/* Trtkal's parts */
#lang_flags {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
}

.cleaner.both {
    clear: both;
}

.cleaner.left {
    clear: left;
}

.cleaner.right {
    clear: right;
}

#login {
    margin: 0px auto;
    width: 300px;
    text-align: center;
}
#login form {
    margin: 0px auto;
    text-align: right;
    width: 200px;
}
#login input[type=text], #login input[type=password]{
    border: none;
    margin: 0px 0px 0px 5px;
    width: 120px;
}
#content ul {
    padding-left: 10px;
    list-style: disc;
    list-style-position: inside;
}
#content ol {
    padding-left: 10px;
    list-style: decimal;
    list-style-position: inside;
}
.external {
    background: url('/style/external.gif') top right no-repeat;
    padding: 0 12px 0 0;
}