/* 
    Document   : modal
    Created on : 23.10.2009, 2:56:58
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/
* {
	line-height: 1.4em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: Georgia, "Times New Roman", Times, serif;
}
html, body {
	margin: 9px 0px 0px 0px;
	padding: 0;
	font-size: 14px;
	color: #5a554e;
	min-height: 158px;
}
input[type=button], input[type=submit]{
	font-size: 11px;
	padding: 1px 5px;
	margin-top: 10px;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #32639a;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
#modal {
	margin: 0px auto;
	text-align: center;
}
#modal form {
	margin: 0px auto;
	text-align: right;
}
#modal input[type=text],
#modal input[type=password],
select {
	border: none;
	margin: 0px 0px 0px 5px;
	width: 120px;
}
#modal input {
	font-size: 12px;
}
.center {
	text-align: center;
}
.req {
	color: #b90000;
	font-weight: bold;
}
#modal form#add_borrower {
	width: 230px;
	height: 170px;
}
#modal a {
	color: #32639a;
}
#modal a:hover {
	color: #b90000;
}
#modal p.link {
	margin-top: 40px;
}
#modal form#add_movie {
	width: 550px;
	height: 482px;
}
.texyla {
	text-align: left;
}
.texyla strong, .texyla b {
	font-weight: bold;
}
.texyla ul {
	padding-left: 5px;
	list-style: disc;
	list-style-position: inside;
}
.texyla ol {
	padding-left: 5px;
	list-style: decimal;
	list-style-position: inside;
}
.texyla li {
	padding-left: 3px;
}
#modal form#add_user, #modal form#add_address, #modal form#add_genre, #modal form#login {
	width: 230px;
}
