#searchField {
	width: 200px;
}

#results {
	border: 1px solid #666;
	border-bottom: 0px;
	font-size: 10px;
	font-family: arial;
	padding: 0px;
	display: none;
	font-size: small;
}

#results div {
    border-bottom: 1px solid #666;
    padding: 3px;
}

#results .selected {
	background-color: #ffd4a8;
	color: #000;
	font-weight: bold;
}

#results .unselected {
	background-color: #fff;
	color: #ff9933;
}
#results .font-small {
	color: #666;
	font-size: x-small;
	border: none;
	font-weight: normal;
}
#results p {
	margin: 0px;
	padding: 0px;
}