#searchField {
    width: 570px;
}
#results {
    font-size: 12px;
    font-family: arial;
    padding: 0px;
    display: none;
    font-size: small;
}
#results div {
    border-bottom: 1px solid #666;
    padding: 3px 3px 8px 3px;
}
#results .selected {
    background-color: #ffd4a8;
    color: #000;
    font-weight: bold;
}
#results .unselected {
    background-color: #fff;
    color: #ff9933;
}
#results .font-small {
    color: #666;
    font-size: small;
    border: none;
    font-weight: normal;
}
#results p {
    margin: 0px;
    padding: 0px;
}